body {
    font-size: 16px; 
    font-family: "Helvetica Neue", Helvetica, Arial, PingFangSC-Regular, Tahoma, "Hiragino Sans GB", "Heiti SC", "Microsoft Yahei", sans-serif;
}

h3 {
    color: white;
}

#base-info {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
}

#base-info-wrapper {
    text-align: center;
    margin-bottom: 30px;
}

#resume-framework {
    border: 2px solid gray;
    padding: 20px;
}

#name {
    font-size: 32px;
}

#base-info-span {
    font-size: 1.4rem;
    overflow: hidden;
    text-align: left;
}

.banner-div {
    background-image: url("../imgs/banner.png"); 
    background-repeat: no-repeat;
    height: 24px;
    display: block;
    padding-top: 3px;
    padding-left: 6px;
    margin-bottom: 10px;
}
.banner-span {
    color: white;
}
.white-icon {
    color: white !important;
}

#avatar {
    float: left;
    width: 200px;
    border-radius: 8px;
    margin-right: 100px;
    margin-left: 10px;
}

.fas, .fab {
    color: #16374e;
}

.project-span {
    margin-left: 2%;
    display: inline-block;
}
